/********************************************
            font family import 
*********************************************/

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@800&family=Poppins:wght@400;600&display=swap');


/********************************************
            root styles
*********************************************/

:root{
    --text-primary: #707070;
    --text-secondary: #B68C5A;
    --text-dark: #414040;
    --line-height-85: 85px;
    --font-weight-800 : 800;
    --bg-primary: #B68C5A;
}

body{
    font-family: 'Poppins', sans-serif;
}

/********************************************
            Main style starts here
*********************************************/

.consultation-btn{
    background: var(--bg-primary);
    font-size: 18px;
}
.consultation-btn:hover{
    background:#8b6c45;
}
.banner-area{
    background-image: url(../images/banner.png);
    background-position: center center;
    background-size: cover;
}
.overlay{
    padding: 104px 0;
    background: linear-gradient(180deg, #111 0%, rgba(17, 17, 17, 0.00) 100%);
}
.banner-heading{
    font-size: 72px;
    line-height: 85px;
}
.banner-description{
    color: #e7e7e7;
}
.banner-input{
    padding: 19px 314px 19px 20px;
    line-height: 26px;
}
.section-title{
    font-family: 'EB Garamond', serif;
    font-weight: 800;
}
.section-description{
    color: var(--text-primary);
}
.line-height{
    line-height: 85px;
}

/********************************************
            Carousel Styles 
*********************************************/

.carousel-indicators {
    bottom: 60px;
}
.carousel-inner{
    height: 500px;
    border-radius: 8px;
}
.dark-overlay:after {
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(17, 17, 17,0.80);
  }
.carousel-caption{
    top: 100px;
}
.carousel-description{
    color: #f3f3f3;
}

/********************************************
            The legal practice area styles 
*********************************************/
.custom-card{
    padding: 56px 70px 70px;
}
.business-img{
    width: 71.798px;
    height: 72.343px;
}
.criminal-img{
    width: 62.899px;
    height: 72.365px;
}
.child-img{
    width: 73.329px;
    height: 72.102px;
}