/********************************************
            font family import 
*********************************************/

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@800&family=Poppins:wght@400;600&display=swap');


/********************************************
            root styles
*********************************************/

:root{
    --text-primary: #707070;
    --text-secondary: #B68C5A;
    --text-dark: #414040;
    --light-gray: #cfcfcf;
    --line-height-85: 85px;
    --font-weight-800 : 800;
    --bg-primary: #B68C5A;
}

body{
    font-family: 'Poppins', sans-serif;
}

/********************************************
            Main style starts here
*********************************************/

.custom-btn{
    background: var(--bg-primary);
    font-size: 18px;
}
.consultation-btn:hover{
    background:#8b6c45;
}
.banner-area{
    background-image: url(../images/banner.png);
    background-position: center center;
    background-size: cover;
}
.overlay{
    padding: 104px 0;
    background: linear-gradient(180deg, #111 0%, rgba(17, 17, 17, 0.00) 100%);
}
.banner-heading{
    font-size: 72px;
    line-height: 85px;
}
.banner-description{
    color: #e7e7e7;
}
.banner-input{
    padding: 19px 314px 19px 20px;
    line-height: 26px;
}
.section-title{
    font-family: 'EB Garamond', serif;
    font-weight: 800;
}
.text-dark{
    color: var(--text-dark) !important;
}
.section-description{
    color: var(--text-primary);
}
.line-height{
    line-height: 85px;
}

/*****************************************************
            What our client say carousel styles 
******************************************************/

.carousel-indicators {
    bottom: 60px;
}
.dark-overlay:after {
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(17, 17, 17,0.80);
  }
.carousel-caption{
    top: 100px;
}
.carousel-text{
    color: #f3f3f3;
}

/********************************************
            The legal practice area styles 
*********************************************/
.custom-card{
    padding: 56px 70px 70px;
}
.custom-card:hover{
    background: linear-gradient(180deg, #F3F3F3 0%, rgba(243, 243, 243, 0.00) 100%);
    overflow: hidden;
}
.business-img{
    width: 71.798px;
    height: 72.343px;
}
.criminal-img{
    width: 62.899px;
    height: 72.365px;
}
.child-img{
    width: 73.329px;
    height: 72.102px;
}

/* **********************************
        Contact Us Styles
*********************************** */
.contact-one-column{
    padding: 65px 61px;
}
.contact-placeholder{
    line-height: 26px;
}

/***************************************
        footer styles starts here
****************************************/
#footer-area{
    background-color: #111;
}
.footer-style{
    color: var(--light-gray);
    line-height: 26px;
}
.footer-color p{
    line-height: 40px;
}
.subscribe-input{
    color: #a0a0a0;
    line-height: 26px;
}
.subscribe-input:focus{
    outline: none;
}
.subscribe-btn{
    padding: 21px 35px;
    background-color: var(--bg-primary);
}

/* ****************************************
        Media Queries Styles for mobile 
*******************************************/
@media only screen and (max-width: 576px) {
    .banner-heading{
        font-size: 40px;
        line-height: 45px;
    }
    .banner-input{
        padding: 8px 70px 8px 16px;
        line-height: 26px;
    }
    /* **********************************
            What client say carousel 
    *************************************/
    .carousel-caption{
        top: 0;
    }
    .carousel-indicators{
        bottom: 12px;
    }
    .contact-one-column{
        padding: 40px 0;
    }
    /* ******************************
            Footer Styles
    ******************************* */
    .subscribe-btn{
        padding: 12px 24px;
    }
}

/********************************************
        Media queries for table device
*********************************************/
@media only screen and (min-width: 577px) and (max-width: 768px) {
    .banner-heading{
        font-size: 40px;
        line-height: 45px;
    }
}