/* font family import */

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@800&family=Poppins:wght@400;600&display=swap');


/* root styles */

:root{
    --text-primary: #707070;
    --text-secondary: #B68C5A;
    --text-dark: #414040;
    --line-height-85: 85px;
    --font-weight-800 : 800;
    --bg-primary: #B68C5A;
}

body{
    font-family: 'Poppins', sans-serif;
}

/* ----------------------------------------
        Main Style Starts Here
------------------------------------------- */
.consultation-btn{
    background: var(--bg-primary);
    font-size: 18px;
}
.consultation-btn:hover{
    background:#8b6c45;
}
.banner-area{
    background-image: url(../images/banner.png);
    background-position: center center;
    background-size: cover;
}
.overlay{
    padding: 104px 0;
    background: linear-gradient(180deg, #111 0%, rgba(17, 17, 17, 0.00) 100%);
}
.banner-heading{
    font-size: 72px;
    line-height: 85px;
}
.banner-description{
    color: #e7e7e7;
}
.banner-input{
    padding: 19px 314px 19px 20px;
    line-height: 26px;
}
.section-title{
    font-family: 'EB Garamond', serif;
    font-weight: 800;
}
.section-description{
    color: var(--text-primary);
}
.line-height{
    line-height: 85px;
}
